sudo: false
dist: trusty
language: bash

env:
- CONDA=https://repo.anaconda.com/miniconda/Miniconda2-latest-Linux-x86_64.sh
- CONDA=https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh

before_install:
  - curl $CONDA > conda.sh
  - bash conda.sh -b -p $HOME/conda
  - export PATH=$HOME/conda/bin:$PATH
  - conda install pip

install:
  - pip install -r requirements-test.txt
  - python setup.py --cython install

script: 
  - python test.py

