clone_folder: c:\projects\bitstream

environment:
  matrix:
    - CONDA: C:\Miniconda-x64
    - CONDA: C:\Miniconda36-x64

install:
  - cmd: set PATH=%PATH%;%CONDA%;%CONDA%\Scripts
  - cmd: cd c:\projects\bitstream
        
build_script:
  - cmd: pip install -r requirements-dev.txt
  - cmd: python setup.py --cython install
  - cmd: python test.py
